[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cdiserrors = {editable = true,path = "."}
cdislogging = {editable = true,git = "https://git@github.com/fantix/cdislogging.git",ref = "0.1.0"}

[requires]
python_version = "2.7"
